

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #e7e9ea;
    
}



.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 1265px;
    margin: 0 auto;
    flex-wrap: nowrap;
}


/*  LEFT SIDEBAR  */

#left-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: flex-start;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border-radius: 9999px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.sidebar-item:hover {
    background-color: #181818;
}

.sidebar-item svg {
    width: 26px;
    height: 26px;
    fill: #e7e9ea;
}

#left-sidebar button {
    margin-top: 12px;
    padding: 14px;
    border-radius: 9999px;
    background-color: rgb(231, 233, 234);
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

#left-sidebar button:hover {
    background-color: #1a8cd8;
}

/* Sidebar Profile */

.sidebar-profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 9999px;
    cursor: pointer;
}

.sidebar-profile:hover {
    background-color: #181818;
}

.sidebar-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-text span:first-child {
    font-weight: 600;
}

.profile-text span:last-child {
    font-size: 14px;
    color: #71767b;
}

/* FEED*/


.feed{
    width: 600px;
    border-right: 1px solid #2f3336;
   
}


.feed-header {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #2f3336;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(12px);
}

.feed-header span {
    padding: 16px;
    cursor: pointer;
    font-size: 15px;
}

.feed-header span:hover {
    background-color: #181818;
}

.active-tab {
    border-bottom: 3px solid #1d9bf0;
}

/*  POST BOX  */

.post-box {
    padding: 16px;
    border-bottom: 1px solid #2f3336;
}

.post-input {
    display: flex;
    gap: 12px;
}

.post-input img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-input input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    padding-top: 8px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.post-svg {
    display: flex;
    gap: 12px;
    margin-left: 48px;
}

.post-svg > div {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease;
}

.post-svg > div:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.post-svg svg {
    width: 20px;
    height: 20px;
    fill: #1d9bf0;
}

.post-icons button {
    padding: 8px 18px;
    border-radius: 9999px;
    background-color:rgb(231, 233, 234);
    border: none;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.post-icons button:hover {
    background-color: #1a8cd8;
}

/* TWEET */

.tweet {
    display: flex;
    gap: 12px;
    padding: 16px;
    border-bottom: 1px solid #2f3336;
    transition: background 0.2s ease;
}

.tweet:hover {
    background-color: #080808;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tweet-content {
    flex: 1;
}

.tweet-header {
    display: flex;
    gap: 8px;
    font-size: 15px;
}

.tweet-header strong {
    font-weight: 600;
}

.tweet-header span {
    color: #71767b;
}

.tweet1 p {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.4;
}

.tweet-img {
    width: 100%;
    border-radius: 16px;
    margin-top: 10px;
}

/*  TWEET ACTIONS  */

.tweet-actions {
    display: flex;
    justify-content: space-between;
    max-width: 425px;
    margin-top: 12px;
    font-size: 13px;
    color: #71767b;
}

.reply,
.repost,
.like,
.view,
.share {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease;
}

.reply svg,
.repost svg,
.like svg,
.view svg,
.share svg {
    width: 18px;
    height: 18px;
    fill: #71767b;
    transition: fill 0.2s ease;
}

/* Hover circle */

.reply::before,
.repost::before,
.like::before,
.view::before,
.share::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    left: -8px;
    top: -8px;
    z-index: -1;
    transition: background 0.2s ease;
}

/* Hover Colors */

.reply:hover {
    color: #1d9bf0;
}
.reply:hover svg {
    fill: #1d9bf0;
}
.reply:hover::before {
    background-color: rgba(29, 155, 240, 0.1);
}

.repost:hover {
    color: #00ba7c;
}
.repost:hover svg {
    fill: #00ba7c;
}
.repost:hover::before {
    background-color: rgba(0, 186, 124, 0.1);
}

.like:hover {
    color: #f91880;
}
.like:hover svg {
    fill: #f91880;
}
.like:hover::before {
    background-color: rgba(249, 24, 128, 0.1);
}

.view:hover {
    color: #1d9bf0;
}
.view:hover svg {
    fill: #1d9bf0;
}
.view:hover::before {
    background-color: rgba(29, 155, 240, 0.1);
}

.share:hover svg {
    fill: #e7e9ea;
}
.share:hover::before {
    background-color: rgba(231, 233, 234, 0.1);
}

/* RIGHT SIDEBAR  */

.right-sidebar {
    width: 380px;
    padding: 16px;
    height: 100%;
}

.search-box {
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: #000; 
    padding: 12px 16px;
    border-radius: 9999px;
    margin-bottom: 20px;
}


.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 15px;
}

.widget {
    background-color: #16181c;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.widget h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

.widget button {
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 9999px;
    background-color: #1d9bf0;
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.widget button:hover {
    background-color: #1a8cd8;
}

.trend {
    padding: 10px 0;
    border-bottom: 1px solid #2f3336;
    cursor: pointer;
}

.trend:hover {
    background-color: #1a1a1a;
}

.trend:last-child {
    border-bottom: none;
}

.trend small {
    color: #71767b;
    font-size: 13px;
}

#loginScreen {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.login-container {
    width: 380px;
    padding: 40px;
    background: #111;
    border-radius: 20px;
    border: 1px solid #2f3336;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #2f3336;
    background: #000;
    color: white;
}

.login-container button {
    padding: 12px;
    border-radius: 9999px;
    border: none;
    font-weight: bold;
    background: white;
    color: black;
    cursor: pointer;
}

.login-container button:hover {
    background: #1d9bf0;
    color: white;
}

#app {
    display: none;
}

@media (max-width: 1200px) {
    .right-sidebar {
        display: none;
    }

    .container {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {

    #left-sidebar {
        width: 80px;
        padding: 8px;
    }

    .sidebar-item span {
        display: none;
    }

    #left-sidebar button {
        display: none;
    }

    .sidebar-profile .profile-text {
        display: none;
    }

    .feed {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 500px) {

    #left-sidebar {
        display: none;
    }

    .feed {
        margin-left: 0;
        width: 100%;
    }
}


